
.btn-table {
  border: 25px rgb(250, 24, 24);
 margin: 5px red;
 size: 10px;
}
.btn-table :hover{
background-color: rgb(0, 17, 253);
color: aliceblue;

}
.btn-table:hover::after {
  content: "Table";
  color: rgb(0, 0, 0);
}
.btn-card :hover{
  background-color: rgb(0, 17, 253);
  color: aliceblue;

  }
  .btn-card:hover::after {
    content: "Card";
    color: rgb(0, 0, 0);
  }
  .form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 250px
  }
  .box{
    border: 5px red;
  margin-left: 15vw;
  margin-top: 25vh;
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .background{
   min-height: max-content;
   max-width: max-content;
  }
  